.blocks {
	position: absolute;
	transform: rotate(25deg);
}

.blocks div {
	padding-top: 5px;
	padding-left: 5px;
	border:1px solid black;
  height: 95px;
  width: 95px;
	font-size: 110%;
	background-color: rgba(200,200,0, 0.15);
}

#one {
	transform: translate(201px,101px);
}
#two {
	transform: translate(100px,100px) rotate(-270deg);
}
#three {
	transform: translate(-1px,-103px) rotate(-180deg);
}
#four {
	transform: translate(100px,-306px) rotate(-90deg);
}
