.asterisk_input:after {
  content:"*";
  color: red;
}

input[type="text"]:valid {
    color: green;
}

input[type="text"]:invalid {
    color: red;
    font-weight: bold;
}

affichage.hover {
  border: 10px dashed green; }

.main {
  margin: auto;
  width: 50%;
}
